body{
    margin: 0;
    font-family: "Segoe UI", sans-serif;
}

.parallax-wrapper {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 4px;
    isolation: isolate;
}

.parallax__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300vh; 
    background-image: url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    transform: translateZ(-1px) scale(1.3);
    /*z-index: -1; */
    pointer-events: none;
}

.parallax__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300vh;
    /*transform: translateZ(0); */
    /*z-index: 1; */
}

h1 {
    font-size: 36px;
    font-weight: normal;
    color: white;
    text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #77a7c0;
}

h2 {
    font-size: 32px;
    font-weight: normal;
    color: white;
    text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #77a7c0;
}

h3 {
    font-size: 24px;
    font-weight: normal;
    color: white;
    text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #77a7c0;
}

p {
    font-size: 12px;
    font-weight: normal;
    color: white;
    text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 0.1px #77a7c0;
}

a {
    font-size: 14px;
    font-weight: normal;
    color: white;
    text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 0.1px #77a7c0;
}